
<footer id="footer" class="inner">
  &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
  <br>
  Powered by <a href="http://hexo.io/" target="_blank" rel="nofollow">Hexo</a>
</footer>